.aboutUsinfo {
  display: flex;
  margin: 20px;
  
  align-items: center;
  justify-content: space-around;
  background-color: #f5beb4c9;
  border-radius: 20px;
}
.no-round {
  width: 40vw;
  height: 50vh;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
}

.heading-text {
  width: 45vw;
}
.heading-text p {
  color: black;
}
.heading-sm-lead {
  color: #fc5b3f;
}
@media all and (max-width: 600px) {
  .no-round {
    display: none;
  }
  .heading-text {
    width: 65vw;
  }
}
