.container4 {
    width: 100%;
    /* margin: 0 auto; */
    gap: 1.8rem;
  }
  .coin-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
  }
  .purple {
    color: var(--color-primary);
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #26272b; */
    /* box-shadow: 0px 0px 12px #18191b; */
    /* border-radius: 8px; */
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;
    font-weight: 700;
    /* border-bottom: 1px solid #d7d7d7; */
  }
  
  .coin-name {
    margin-left: -4rem;
  }
  
  .coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #d7d7d7;
  }
  
  .coin-row:hover {
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .img-symbol img {
    height: 40px;
    margin-right: 8px;
    width: auto;
  }
  
  .img-symbol {
    display: flex;
    align-items: center;
  }

  
  
  