.lastcontainerhome {
  color: white;
  padding: 2vh;
  margin-bottom: -10vh;
}
.last-text {
  margin: 10px;
}
.last-subsubdiv {
  display: flex;
  margin: 10px;
  align-items: center;
}
.last-boxes svg {
  margin: 3px;
}
.last-subdiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
